* {
  margin: 0px;
}

/* 헤더 */
header {
  background-color: steelblue;
  color: white;
  display: flex;
  justify-content: flex-end;
  padding: 0.5% 0%;
}

header a:link,
header a:visited {
  text-decoration: none;
  color: white;
}

.headerMenu {
  flex-direction: row;
  padding-left: 0.5%;
  padding-right: 0.5%;
}

header .headerBlank {
  margin-right: 18%;
}

/* 네비게이션 */
nav {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.libraryLogo {
  margin: 10px 32px;
  scale: 80%;
}

.nav1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav1 h3 {
  margin: 10px;
}

/* 메인 - remote */
.remote {
  display: grid;
  grid-template-rows: 1fr 2fr 2fr 2fr;
  grid-template-columns: 200px;
  margin-left: 55%;
  text-align: center;
}

.remote p {
  align-content: center;
  background-color: green;
  color: white;
  font-weight: bold;
}

.rest p {
  padding: 5%;
  background-color: white;
  color: black;
}

.rest .restAccount {
  background-color: steelblue;
  color: white;
}

.rest a:link,
.rest a:visited {
  text-decoration: none;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-right: 18%;
}

main .createAccount {
  margin-top: 5%;
}

.createAccount h3 {
  font-size: 2.5em;
  margin-bottom: 1%;
}

.createAccountLine {
  width: 750px;
  height: 2px;
  background-color: black;
  margin-bottom: 30px;
}

/* 회원구분 등 이쁜 사진 */
.explain {
  border: none;
  text-align: center;
  padding-bottom: 5%;
}

.procedure {
  display: flex;
  justify-content: space-around;
}

/* 회원구분 */
.procedure .fa-users {
  background-color: lightgray;
  padding: 2% 5%;
  font-size: 2em;
  color: steelblue;
}

.fa-users p {
  font-size: 0.5em;
  margin-top: 20px;
}

/* 본인확인 */
.procedure .fa-user-check {
  background-color: lightgray;
  padding: 2% 5%;
  font-size: 2em;
  color: gray;
}

.fa-user-check p {
  font-size: 0.5em;
  margin-top: 20px;
}

/* 약관동의 */
.procedure .fa-file-contract {
  background-color: lightgray;
  padding: 2% 5%;
  font-size: 2em;
  color: gray;
}

.fa-file-contract p {
  font-size: 0.5em;
  margin-top: 20px;
}

/* 정보입력 */
.procedure .fa-file-signature {
  background-color: lightgray;
  padding: 2% 5%;
  font-size: 2em;
  color: gray;
}

.fa-file-signature p {
  font-size: 0.5em;
  margin-top: 20px;
}

/* 가입완료 */
.procedure .fa-unlock-keyhole {
  background-color: lightgray;
  padding: 2% 5%;
  font-size: 2em;
  color: gray;
}

.fa-unlock-keyhole p {
  font-size: 0.5em;
  margin-top: 20px;
}

/* 회원 구분 및 설명 */
.division .fa-angle-right {
  background-color: steelblue;
  color: white;
  padding: 1% 1.5%;
  margin-right: 1%;
}

.jemok p {
  font-weight: bold;
}

.naeyong {
  margin-left: 2%;
}

/* 나이 따라서 뭔가 나누기 */
.age {
  display: flex;
  gap: 4%;
  margin-top: 4%;
  margin-bottom: 4%;
}

.age .under14 {
  font-size: 5em;
  background-color: lightgray;
  color: steelblue;
  padding: 5% 12%;
  text-align: center;
  margin-left: 10%;
}

.under14 p {
  font-size: 1.5rem;
  margin-top: 7%;
  font-weight: bold;
}

.age .over14 {
  font-size: 5em;
  background-color: lightgray;
  color: steelblue;
  padding: 5% 12%;
  text-align: center;
  margin-right: 10%;
}

.over14 p {
  font-size: 1.5rem;
  margin-top: 7%;
  font-weight: bold;
}

/* 회원가입 주의사항 */
.naeyong2 {
  margin-left: 5%;
  margin-bottom: 5%;
  font-size: 0.9em;
}

.first {
  background-color: steelblue;
  margin-top: 5%;
  margin-bottom: 1%;
}

.first .word {
  display: flex;
  justify-content: center;
  gap: 1%;
  padding: 1%;
  color: white;
  font-weight: bold;
}

/* 푸터 */
.second {
  margin-left: 18%;
  display: flex;
  align-items: center;
}

.second .image {
  margin: 2%;
}

.second .ect {
  color: gray;
  font-size: 0.8em;
}

.second .site {
  margin-left: 5%;
  margin-top: -2%;
}

.site select {
  font-size: 1em;
}

.site .button {
  border: 1px solid grey;
  background-color: white;
}