* {
  margin: 0%;
}

/* 헤더 */
header {
  background-color: steelblue;
  color: white;
  display: flex;
  justify-content: flex-end;
  padding: 0.5% 0%;
}

header a:link, header a:visited{
  text-decoration: none;
  color: white;
}

.headerMenu {
  flex-direction: row;
  padding-left: 0.5%;
  padding-right: 0.5%;
}

header .headerBlank {
  margin-right: 18%;
}

/* 네비게이션 */
nav {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navMenu{
  text-decoration: none;
  color: black;
}

.libraryLogo {
  margin: 10% 0%;
  scale: 80%;
}

.nav1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav1 h3 {
  margin: 10px;
}


.nav1 h3:hover{
  color: steelblue;
}

.nav2{
  background-color: steelblue;
  color: white;
}

.nav2 p{
  margin: 0% 0.5%;
}

/* 백그라운드 */
.backgroundImage {
  background-image: url(../images/library.jpg);
  width: 100%;
  height: 500px;
  background-size: cover;
  display: flex;
  align-items: center;
}

/* 백그라운드 - 검색 */
.search {
  display: flex;
  background-color: darkgreen;
  border: 5px solid darkgreen;
  justify-content: center;
  align-items: center;
  margin: 0% 5% 0% 18%;
}

.search .button {
  background-color: darkgreen;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1em;
}

.search .text {
  font-size: 1.5em;
}

/* 백그라운드 - 양산도서관 */
.language {
  color: white;
  float: right;
}

.language1 {
  font-size: 1em;
}

.language2 {
  font-size: 2em;
  font-weight: bolder;
  color: lightblue;
}

/* 메인 - 섹션 - first */
.first {
  margin-top: -12%;
  margin-left: 18%;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

/* 메인 - 섹션 - first - announce */
.announce {
  background-color: white;
  padding: 2%;
}

.announce .line {
  width: 100%;
  height: 1.1%;
  background-color: gray;
  margin: 1%;
}

.announce1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.announce1 .fa-solid {
  margin-right: 5%;
}

/* 메인 - 섹션 - first - sixMenu */
.sixMenu {
  margin-right: 25%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

/* 메인 - 섹션 - first - sixMenu - 메뉴 1 */
.myLibrary {
  background-color: lightgray;
  padding: 5%;
}

.myLibrary h3 {
  color: orangered;
}

.myLibrary p {
  font-weight: bold;
}

.myLibrary .line {
  width: 100%;
  height: 3%;
  background-color: gray;
  margin: 1.5% 0%;
}

/* 메인 - 섹션 - first - sixMenu - 메뉴 2 */
.electricLibrary {
  background-color: white;
  padding: 5%;
}

.electricLibrary h3 {
  color: steelblue
}

.electricLibrary p {
  font-weight: bold;
}

.electricLibrary .line {
  width: 100%;
  height: 3%;
  background-color: gray;
  margin: 1.5% 0%;
}

/* 메인 - 섹션 - first - sixMenu - 메뉴 3 */
.selectProgram {
  background-color: skyblue;
  padding: 5%;
  color: white;
}

.selectProgram p {
  font-weight: bold;
}

.selectProgram .line {
  width: 100%;
  height: 3%;
  background-color: white;
  margin: 1.5% 0%;
}

/* 메인 - 섹션 - first - sixMenu - 메뉴 4 */
.selectProgramStudy {
  background-color: steelblue;
  padding: 5%;
}

.selectProgramStudy h3 {
  color: white;
}

.selectProgramStudy p {
  color: lightblue;
  font-weight: bold;
}

.selectProgramStudy .line {
  width: 100%;
  height: 3%;
  background-color: white;
  margin: 1.5% 0%;
}


/* 메인 - 섹션 - first - sixMenu - 메뉴 5 */
.oneLibraryOneBook {
  background-color: lightgray;
  padding: 5%;
}

.oneLibraryOneBook h3 {
  color: orangered;
}

.oneLibraryOneBook p {
  font-size: 0.8em;
  font-weight: bold;
}

.oneLibraryOneBook .line {
  width: 100%;
  height: 3%;
  background-color: gray;
  margin: 1.5% 0%;
}


/* 메인 - 섹션 - first - sixMenu - 메뉴 6 */
.bookClub {
  background-color: white;
  padding: 5%;
}

.bookClub p {
  color: steelblue;
  font-weight: bold;
}

.bookClub .line {
  width: 100%;
  height: 3%;
  background-color: gray;
  margin: 1.5% 0%;
}


/* 메인 - 섹션 - second */
.second {
  margin-left: 18%;
  margin-top: 1%;
  display: grid;
  grid-template-columns: 0.3fr 0.3fr 0.3fr;
}

/* 메인 - 섹션 - second - 신착자료 */

.newArrive .line {
  width: 82%;
  height: 0.5%;
  background-color: gray;
  margin: 0.5% 0%;
}

.newArrive .fa-solid{
  margin-right: 18%;
}

.newArrive .books {
  display: flex;
  gap: 1%;
}

.newArrive .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.books img {
  padding: 4% 0%;
  width: 100px;
}

/* 메인 - 섹션 - second - 휴관일 표 */
.table h3{
  margin-bottom: 2%;
}

.table table,
.table th,
.table td {
  margin: 1% 0%;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  font-size: 0.5em;
  padding-top: 1%;
  padding-bottom: 2%;
}

.table .blueTable {
  background-color: steelblue;
  color: white;
  font-weight: bold;
}

.table .important {
  color: red;
}

/* 메인 - 섹션 - second - 휴관일 */
.second .dayOff {
  width: 78%;
  height: 20%;
  border: 1px solid gray;
  margin-top: 10%;
  display: flex;
  align-items: center;
}

.dayOff .fa-solid {
  background-color: steelblue;
  padding: 5.5% 6.5%;
  color: white;
  border-radius: 50%;
  font-size: 2em;
  margin-left: 4%;
}

.dayOff p {
  color: red;
  margin-bottom: 20%;
  margin-left: 5%;
  font-size: 1em;
}

/* 메인 - 섹션 - second - 바로가기 */
.shortCut .sns {
  display: grid;
  grid-template-columns: 0.39fr 0.39fr;
  gap: 2.5%;
}

.shortCut h3 {
  margin-top: 5%;
}

.shortCut .kakaoTalk {
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kakaoTalk .fa-solid {
  background-color: gold;
  border-radius: 50%;
  padding: 7%;
  font-size: 1em;
  margin: 10% 1% 10% 0%;
}

.shortCut .instagram {
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.instagram .fa-brands {
  background: linear-gradient(to left bottom, orange, purple);
  color: white;
  border-radius: 50%;
  padding: 7%;
  font-size: 1em;
  margin: 10% 5% 10% 0%;
}

/* 메인 - 섹션 - subMenu */
.subMenu {
  display: flex;
  margin-left: 20%;
  margin-top: -5%;
  gap: 4%;
}

.subMenu p {
  font-size: 1em;
}

/* 메인 - 섹션 - subMenu - 돋보기 */
.libraryLoan {
  text-align: center;
}

.libraryLoan .fa-solid {
  background-color: lightgray;
  border-radius: 50%;
  padding: 25% 27%;
  font-size: 2em;
  color: green;
}

/* 메인 - 섹션 - subMenu - 사서물어보기 */
.askToLibrarian {
  text-align: center;
}
.askToLibrarian .fa-solid {
  background-color: lightgray;
  border-radius: 50%;
  padding: 20% 22%;
  font-size: 32px;
  color: green;
}

/* 메인 - 섹션 - subMenu - 책바다 */
.bookSea {
  text-align: center;
}

.bookSea .fa-solid {
  background-color: lightgray;
  border-radius: 50%;
  padding: 15px;
  font-size: 32px;
  color: green;
}

/* 메인 - 섹션 - subMenu - 책나래 */
.bookWing {
  text-align: center;
}

.bookWing .fa-solid {
  background-color: lightgray;
  border-radius: 50%;
  padding: 15px;
  font-size: 32px;
  color: green;
}

/* 메인 - 섹션 - subMenu - 청소년자원봉사 */
.teenagerVolunteer {
  text-align: center;
}

.teenagerVolunteer .fa-solid {
  background-color: lightgray;
  border-radius: 50%;
  padding: 15px 20px;
  font-size: 32px;
  color: green;
}

/* 메인 - 섹션 - subMenu - 오는 길 */
.howToCome {
  text-align: center;
}

.howToCome .fa-solid {
  background-color: lightgray;
  border-radius: 50%;
  padding: 15px;
  font-size: 32px;
  color: green;
}

/* 메인 - 섹션 - fourth */
.third {
  background-color: steelblue;
  margin-top: 1%;
  margin-bottom: 1%;
}

.third .word {
  display: flex;
  justify-content: center;
  gap: 1%;
  padding: 1%;
  color: white;
  font-weight: bold;
}

/* 푸터 */
footer {
  margin: 0% 0% 0% 18%;
  display: flex;
  align-items: center;
}

footer .image{
  margin: 10px;
}

footer .ect{
  color: gray;
  font-size: 10px;
  margin-top: -5px;
  margin-left: 30px;
}

footer .site{
  margin-left: 220px;
  margin-top: -20px;
}

.site select{
  font-size: 16px;
}

.site .button{
  border: 1px solid grey;
  background-color: white;
}