/* 메인 - remote */
.remote {
  display: grid;
  grid-template-rows: 1fr 2fr 2fr 2fr;
  grid-template-columns: 200px;
  margin-left: 55%;
  text-align: center;
}

.remote p {
  align-content: center;
  background-color: green;
  color: white;
  font-weight: bold;
}

.rest p {
  padding: 5%;
  background-color: white;
  color: black;
}

.rest .restLogin {
  background-color: steelblue;
  color: white;
}

.rest a:link,
.rest a:visited {
  text-decoration: none;
}

/* 메인 - 로그인 제목 */
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-right: 18%;
}

main .login {
  margin-top: 5%;
}

.login h3 {
  font-size: 2.5em;
  margin-bottom: 1%;
}

.loginLine {
  width: 750px;
  height: 2px;
  background-color: black;
  margin-bottom: 30px;
}

/* 메인 - 로그인 내부 */
fieldset {
  background-color: lightgray;
  border: none;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 7.5%;
}

fieldset .welcome {
  font-size: 1.5em;
  font-weight: bold;
}

fieldset span {
  color: steelblue;
}

.fieldsetLine {
  width: 60%;
  border: 1px dashed gray;
  margin: 2% 0% 2% 20%;
}

/* 메인 - 로그인 번호 입력 */
.container {
  display: grid;
  margin-left: 18%;
  grid-template-columns: 3fr 1fr;
  gap: 10px;
  margin-right: 18%;
  margin-bottom: 4%;
}

.idAndPw {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
  border: none;
}

.idAndPw input{
  font-size: 1.2em;
  padding: 1% 0% 1% 0%;
}

button {
  background-color: green;
  text-align: center;
  color: white;
  font-weight: bold;
  border: none;
}

/* 메인 - 회원가입 등 설명문 */
.lowMenu {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.lowMenu p {
  padding: 0% 1%;
}

.explain2 {
  margin-left: 3%;
}

.first {
  background-color: steelblue;
  margin-top: 5%;
  margin-bottom: 1%;
}

.first .word {
  display: flex;
  justify-content: center;
  gap: 1%;
  padding: 1%;
  color: white;
  font-weight: bold;
}